name: Build and deploy docker iamge to ECR

run-name : Build and deploy docker iamge to ECR | ${{ github.ref_name }}

on:
  push:
    branches: 
    - main

permissions:
  id-token: write
  contents: read

jobs:
  ecr-push:
    name: building and pushing image to ECR
    runs-on: ubuntu-latest

    steps:
    - name: chekout repository
      uses: actions/checkout@v4 
    
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: eu-west-2

    - name: Login to ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v2

    - name: Build and Push image
      uses: docker/build-push-action@v6
      with:
        context: .
        push: true
        tags: |
            ${{ steps.login-ecr.outputs.registry }}/${{ vars.ECR_REPOSITORY }}:latest
            ${{ steps.login-ecr.outputs.registry }}/${{ vars.ECR_REPOSITORY }}:${{ github.sha }}